In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict entities
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [10]:
# Answer 1
q = 4
for i in range(4):
    for j in range(0,i+1):
        print('ineuron', end= ' ')
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [47]:
#Answer 2
r= 3
r2=3
for i in range(3):
    r=r-1
    print( ' '*r , end= ' ')
    for j in range(i+1):
        print('ineuron', end=' ')
    print()
for k in range(2):
    r2=r2+1
    print(' '*r2, end= ' ')
    for l in range(k+2):
        print('ineuron', end= ' ')
    print()

   ineuron
  ineuron ineuron
 ineuron ineuron ineuron
     ineuron ineuron
      ineuron ineuron ineuron

In [13]:
#Answer 3
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [14]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [15]:
#Answer 4
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [16]:
#Answer 5
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [33]:
#Anwer 6
for i in l:
    if type(i) == dict:
        for j in i.items():
            for k in j:
                if type(k)== int:
                    print(k)

3
6
7
8

In [35]:
#Answer 7
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [68]:
sum = 0
for i in l:
    if type(i)== tuple or type(i) == list:
        for j in i:
            if type(j)== int:
                print(j)
                sum=sum+j
    elif type(i)== set:
        for k in i:
            if type(k)== int:
                print(k)
                sum=sum+k
    elif type(i) == dict:
        for m in i.items():
            for n in m:
                if type(n)== int:
                    print(n)
                    sum=sum+n

print('The total sum of the numerical data in the data is',sum)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8
The total sum of the numerical data in the data is 156

In [70]:
#Answer 8
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [74]:
for i in l:
    if type(i)== list:
        for j in i:
            if type(j)== int:
                if j%2!=0:
                    print(j)

1
3

In [75]:
#Answer 9
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [78]:
for i in l:
    if type(i)== list or type(i)== tuple or type(i)== set:
        for j in i:
            if j=='ineuron':
                print(j)
    else:
        for k in i.items():
            for m in k:
                if m=='ineuron':
                    print(m)

ineuron
ineuron

In [79]:
#Answer 10
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [109]:
l1=[]
for i in l:
    if type(i)== list or type(i)==set or type(i)== tuple:
        for j in i:
            l1.append(j)
    else:
        for k in i.items():
            for m in k:
                l1.append(m)
for n in set(l1):
    print(n,'-' , l1.count(n))

1 - 1
2 - 2
3 - 4
4 - 4
5 - 3
6 - 3
7 - 2
ineuron - 2
8 - 1
kumar - 1
sudh - 1
data science  - 1
45 - 1
k2 - 1
23 - 1
k1 - 1
k3 - 1

In [110]:
#Answer 11
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [116]:
l1 = []
for i in l:
    if type(i)== dict:
        for j in i:
            l1.append(j)
print(len(l1))

5

In [117]:
#Answer 12
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [119]:
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if type(j)== str:
                print(j)
    else:
        for k in i.items():
            for m in k:
                if type(m)== str:
                    print(m)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [9]:
#Answer 13
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    if type(i) == list or type(i)== tuple or type(i)== set:
        for j in i:
            if str(j).isalnum() == True:
                print(j)
    else:
        for k in i.items():
            for m in k:
                if str(m).isalnum()== True:
                    print(m)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
k1
sudh
k2
ineuron
k3
kumar
3
6
7
8
ineuron

In [27]:
#Answer 14

m=1
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
for i in l:
    for j in i:
        if type(j)== int:
            m=m*j
print(m)

18929272320000

In [16]:
#Answer 15
l1=[]
for i in l:
    if type(i)== list or type(i)==set or type(i) == tuple:
        for j in i:
            l1.append(j)
    else:
        for k in i.items():
            for m in k:
                l1.append(m)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

In [17]:
s='123'

In [8]:
s.isalnum()

True